	#map {
        float: left;  
    	width: 60%;
    	height: 550px;
    	background-color: grey;
	}

    #side-bar {
        overflow: auto;
        float: right;
        width: 40%;
        height: 550px;
        background-color: #b30000; /*ed3821*/
    }

    svg {
        background-color: white;
        margin: 1em;
    }

	.line {
		fill: none;
		stroke: Black;
		stroke-width: 2px;
		}

    path {
        stroke: Black;
        stroke-width: 2;
        fill: none;
    }
    .axis path, .axis line {
        fill: none;
        stroke: Black;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }